.fieldset {
  border: 2px solid #000;
  padding: 10px;
}

.legend {
  display: inline-block;
}

.scheduleCallBtn {
  padding: 5px 20px;
  cursor: pointer;
  color: #fff;
  background-color: #07527d;
  border: none;
}

.scheduleCallBtn:active,
.scheduleCallBtn:focus {
  border-radius: 5px solid #07527d;
}

.messageContainer {
  margin-left: auto;
  margin-right: auto;
}

.errorContainer {
  border: 1px solid #e63f3f;
}

.thankYouMessageContainer {
  border: 1px solid #07527d;
  text-align: center;
  background-color: #07527d;
  color: #fff;
  font-weight: bold;
}
